.info {
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 15px;
  padding: 10px;
}

.selected {
  background-color: rgba(0,0,0,0.4);
}

.btn {
  padding: 8px;
  display: inline-block;
  width: 150px;
}

.btn-delete {
  color: white;
  background: red;
}
