<div class="row" *ngIf="_error">
  <p class="alert alert-danger">{{_error}}</p>
</div>

<div class="row" *ngIf="_account">
  <div class="">
    <h3>{{_account.title}}</h3>
    <p>{{_account.description}}</p>
    <p>Balance: <span class="lead">{{_account.balance}}</span></p>
  </div>
  <div class="" *ngIf="_trans.length == 0">
    <p>There is no transactions</p>
  </div>
  <div class="" *ngIf="_trans.length > 0">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Description</th>
          <th>Value</th>
          <th>Date</th>
          <th>Tags</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let t of _trans, let i = index">
          <td>{{t.id}}</td>
          <td>{{t.description}}</td>
          <td>{{t.value}}</td>
          <td>{{t.date | date: 'd MMM'}}</td>
          <td><span *ngFor="let tag of t.tags">{{tag}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>id = {{_account.id}}</p>
  <button [routerLink]="['/transactions/create', {account:_account.id}]">Add transaction</button>
</div>
